@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/theme';

.filterSection {
  padding: spacing.$spacing-05;
  background-color: theme.$layer-accent-01;
  border-bottom: 1px solid theme.$border-subtle-01;
  display: flex;
  gap: spacing.$spacing-05;
  align-items: flex-end;

  > * {
    flex: 1;
    min-width: 200px;
  }
}
